{% extends "base.html" %}
{% block title %}BMI - wykresy{% endblock title %}
{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>  
{% endblock head %}
{% block nav %}
<nav>
  <ul class="nav masthead-nav">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li class="active"><a href="{% url 'charts' %}">Wykresy</a></li>
  </ul>
</nav>  
{% endblock nav %}
{% block content %}
  {{ chart.as_html }}  
{% endblock content %}





