{% extends "base.html" %}
{% load static %}
{% block content %}
{% if not bmi %}
<h1 class="cover-heading">Oblicz BMI</h1>
<div class="inner cover">
<form action="" class="navbar-form navbar-center" method="post" >
  {% csrf_token %}
  <div class="form-group">
    <p><label for="height">Podaj wzrost w cm:</label>
                 <input id="height" type="number" name="height" min="10" max="300" required /></p>
    <p><label for="weight">Podaj wagę w kg:&nbsp&nbsp</label>
                <input id="weight" type="number" name="weight" min="10" max="300" required /></p>
  </div>
  <p class="lead" style="padding:10px 0 0 80px">
    <button type="submit" class="btn btn-lg btn-default" >Zatwierdź</button>
  </p>
</form> <br><br><br><br><br></div>
{% else %}
<div class="inner cover">
  <h2 class="cover-heading">Twoje BMI wynosi: <span
  style="font-size: 60px;
  color: {{color}} ">{{bmi}}</span> czyli <br><span style="color: {{color}} ">{{message1}}</span></h2>
  <img src="{% static "" %}bmi_calc/images/{{ok}}.jpg"
  class="img-responsive center-block" width='200px' alt="Wynik BMI"><br>
  <p class="lead">{{message}}</p>
</div>  
{% endif %}  
{% endblock content %}
        